<template>
  <div name="addme">
    <button @click="add1">Add me</button>
    <p>result: {{result}}</p>



    <ul id="nav">
      <li><a href="#">1</a></li>
      <li>
        <a href="#">2</a>
        <ul>
          <li>
            <a href="#">2.1</a>
            <ul>
              <li><a href="#">2.1.1</a></li>
              <li><a href="#">2.1.2</a></li>
            </ul>
          </li>
          <li>
            <a href="#">2.2</a>
            <ul>
              <li><a href="#">2.2.1</a></li>
              <li>
                <a href="#">2.2.2</a>
                <ul>
                  <li><a href="#">2.2.1</a></li>
                  <li><a href="#">2.2.2</a></li>
                  <li><a href="#">2.2.3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">2.3</a></li>
        </ul>
      </li>
      <li>
        <a href="#">3</a>
        <ul>
          <li><a href="#">3.1</a></li>
          <li><a href="#">3.2</a></li>
        </ul>
      </li>
      <li><a href="#">4</a></li>
    </ul>

  </div>

</template>

<script>
  export default{
    name: 'addme',
    data () {
        return {
            result: 0
        }
    },
    methods: {
        add1 () {
            let vm = this;

            vm.result ++;

        }
    }
  }
</script>

<style>
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #nav a {
    display: inline-block;
    background: #eee;
    padding: 3px;
    margin: 3px;
    width: 100px;
    text-decoration: none;
  }
  #nav a:hover {
    background: #aaa;
  }
  #nav li {
    position: relative;
  }
  #nav>li {
    display: inline-block;
  }
  #nav ul {
    display: none;
    position: absolute;
  }
  #nav li:hover>ul {
    display: block;
  }
  #nav ul ul {
    left: 110px;
    top: 0;
  }
</style>
