<template>
  <div class="container">
    <ul>
      <li class="dropdownn">
        <a href="#" data-toggle="dropdownn">First Menu <i class="icon-arrow"></i></a>
        <div class="dropdownn-menu">
          <div><input type="checkbox"><a href="#">Home</a></div>
          <div><input type="checkbox"><a href="#">About Us</a></div>
          <div><input type="checkbox"><a href="#">Services</a></div>
          <div><input type="checkbox"><a href="#">Contact</a></div>
        </div>
      </li>
      <li class="dropdownn">
        <a href="#" data-toggle="dropdownn">Second Menu <i class="icon-arrow"></i></a>
        <div class="dropdownn-menu">
          <div><input type="checkbox"><a href="#">Home</a></div>
          <div><input type="checkbox"><a href="#">About Us</a></div>
          <div><input type="checkbox"><a href="#">Services</a></div>
          <div><input type="checkbox"><a href="#">Contact</a></div>
        </div>
      </li>
      <li class="dropdownn">
        <a href="#" data-toggle="dropdownn">Third Menu <i class="icon-arrow"></i></a>
        <div class="dropdownn-menu">
          <div><input type="checkbox"><a href="#">Home</a></div>
          <div><input type="checkbox"><a href="#">About Us</a></div>
          <div><input type="checkbox"><a href="#">Services</a></div>
          <div><input type="checkbox"><a href="#">Contact</a></div>
        </div>
      </li>
    </ul>

  </div>
</template>

<script>
  export default {
    name: 'filter',
    mounted: function(){
      var dropdown = document.querySelectorAll('.dropdownn');
      var dropdownArray = Array.prototype.slice.call(dropdown,0);
      console.log(dropdownArray);
      dropdownArray.forEach(function(el){
          console.log(el);
        var button = el.querySelector('a[data-toggle="dropdownn"]'),
          menu = el.querySelector('.dropdownn-menu'),
          arrow = button.querySelector('i.icon-arrow');

        button.onclick = function(event) {
          if(!menu.hasClass('show')) {
            menu.classList.add('show');
            menu.classList.remove('hide');
            arrow.classList.add('open');
            arrow.classList.remove('close');
            event.preventDefault();
          }
          else {
            menu.classList.remove('show');
            menu.classList.add('hide');
            arrow.classList.remove('open');
            arrow.classList.add('close');
            event.preventDefault();
          }
        };
      })

      Element.prototype.hasClass = function(className) {
        return this.className && new RegExp("(^|\\s)" + className + "(\\s|$)").test(this.className);
      };
      console.log(Element.prototype);
    }
  }
</script>

<style>
  *, *:before, *:after {
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-sizing: border-box;
  }

  .container {
    width: 350px;
    margin: 50px auto;
  }
  .container > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .dropdownn a {
    text-decoration: none;
  }
  .dropdownn [data-toggle="dropdownn"] {
    position: relative;
    display: block;
    color: white;
    background: #2980b9;
    -moz-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    -webkit-box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
  }
  .dropdownn [data-toggle="dropdownn"]:hover {
    background: #2c89c6;
  }
  .dropdownn .icon-arrow {
    position: absolute;
    display: block;
    font-size: 0.7em;
    color: #fff;
    top: 14px;
    right: 10px;
  }
  .dropdownn .icon-arrow.open {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
  }
  .dropdownn .icon-arrow.close {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
  }
  .dropdownn .icon-arrow:before {
    content: '\25BC';
  }
  .dropdownn .dropdownn-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .dropdownn .dropdownn-menu div input{
    margin-right: 4px;
  }
  .dropdownn .dropdownn-menu div  {
    display: block;
    color: #6e6e6e;
    background: #eeeeee;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d4d4d4 inset;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    padding: 10px 10px;
  }
  .dropdownn .dropdownn-menu div :hover {
    background: #f6f6f6;
  }
  .dropdownn .show, .dropdownn .hide {
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  .dropdownn .show {
    display: block;
    max-height: 9999px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
  }
  .dropdownn .hide {
    max-height: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
  }

  @keyframes showAnimation {
    0% {
      -moz-transform: scaleY(0.1);
      -ms-transform: scaleY(0.1);
      -o-transform: scaleY(0.1);
      -webkit-transform: scaleY(0.1);
      transform: scaleY(0.1);
    }

    40% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -o-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }

    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -o-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }

    80% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -o-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }

    100% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -o-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }

    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -o-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }

    100% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @-moz-keyframes showAnimation {
    0% {
      -moz-transform: scaleY(0.1);
      -ms-transform: scaleY(0.1);
      -o-transform: scaleY(0.1);
      -webkit-transform: scaleY(0.1);
      transform: scaleY(0.1);
    }

    40% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -o-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }

    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -o-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }

    80% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -o-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }

    100% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -o-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }

    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -o-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }

    100% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @-webkit-keyframes showAnimation {
    0% {
      -moz-transform: scaleY(0.1);
      -ms-transform: scaleY(0.1);
      -o-transform: scaleY(0.1);
      -webkit-transform: scaleY(0.1);
      transform: scaleY(0.1);
    }

    40% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -o-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }

    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -o-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }

    80% {
      -moz-transform: scaleY(1.04);
      -ms-transform: scaleY(1.04);
      -o-transform: scaleY(1.04);
      -webkit-transform: scaleY(1.04);
      transform: scaleY(1.04);
    }

    100% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -o-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }

    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -o-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }

    100% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  @keyframes hideAnimation {
    0% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }

    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -o-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }

    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -o-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }

    100% {
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
  }
  @-moz-keyframes hideAnimation {
    0% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }

    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -o-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }

    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -o-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }

    100% {
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
  }
  @-webkit-keyframes hideAnimation {
    0% {
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }

    60% {
      -moz-transform: scaleY(0.98);
      -ms-transform: scaleY(0.98);
      -o-transform: scaleY(0.98);
      -webkit-transform: scaleY(0.98);
      transform: scaleY(0.98);
    }

    80% {
      -moz-transform: scaleY(1.02);
      -ms-transform: scaleY(1.02);
      -o-transform: scaleY(1.02);
      -webkit-transform: scaleY(1.02);
      transform: scaleY(1.02);
    }

    100% {
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
  }
</style>
