<template>
  <div class="hello2 container">
    <label class="mt-2">Please Enter Your Text</label>
    <div class="input-group mb-5">
      <input type="text" class="form-control" placeholder="Enter the Text" v-model="message">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" @click="submit">Go!</button>
      </span>

      <!--event modifier .once to button-->
      <button class="btn btn-danger" @click.once="clearMessage">Clear screen</button>

    </div>
    <!--this is the prevent modifier-->
    <hr>
    <a class="m-5" @click.prevent="preventModifier" href="www.google.com">Google</a>

    <div class="media my-4" v-for="item in messages">
      <img v-if="item.username != username" class="d-flex align-self-start mr-3" src="http://lorempixel.com/100/100/" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">{{ item.username }}</h5>
        <p>{{ item.message }}</p>
      </div>
      <img v-if="item.username == username" class="d-flex ml-3" src="http://lorempixel.com/100/100/sports/" alt="Generic placeholder image">
    </div>

    <!--<div class="media">-->
    <!--<div class="media-body">-->
    <!--<h5 class="mt-0 mb-1">Media object</h5>-->
    <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
    <!--</div>-->
    <!--<img class="d-flex ml-3" src="http://lorempixel.com/100/100/sports/" alt="Generic placeholder image">-->
    <!--</div>-->

    <div class="mouseTracker mt-5 mb-20" @mousemove="showXY">
      {{x}},{{y}}
    </div>


    <div>
      <button @click="a++">Add</button>
      <br>
      <button @click="b++">substrab</button>
      <p>A = {{a}}</p>
      <p>B = {{b}}</p>
      <p>age + a = {{addToA}}</p>
      <p>age + b = {{addToB}}</p>


    </div>



  </div>

</template>

<script>
  export default {
    name: 'hello2',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App',
        username: 'Rick',
        x: 0,
        y: 0,
        message: '',
        age:25,
        a:0,
        b:0,
        messages: [
          {
            username: 'Rico',
            message: 'Hello'
          },
          {
            username: 'Rick',
            message: 'You too'
          }
        ]
      }
    },
    methods: {
      submit () {
        let that = this;
        that.messages.unshift({
          username: that.username,
          message: that.message
        })
        that.message = '';
      },
      clearMessage () {

        this.messages = [];
      },
      showXY (event) {
        this.x = event.offsetX;
        this.y = event.offsetY;
      },
      preventModifier () {
        alert('prevent modifier');
      },
//      addToA () {
//        console.log("a");
//        return this.age + this.a;
//      },
//      addToB () {
//        console.log("b");
//        return this.age + this.b;
//      }
    },
    computed: {
      addToA () {
        console.log("a");
        return this.age + this.a;
      },
      addToB () {
        console.log("b");
        return this.age + this.b;
      }
    }
  }
</script>

<style scoped>

  .hello2 {
    height: 1000px;
  }

  .mouseTracker {
    width: 600px;
    height: 500px;
    padding: 200px 20px;
    text-align: center;
    border: 1px solid black;
  }
</style>

